.super-mario {
  width: 200px;
  position: absolute;
  z-index: 1;
}

.goomba {
  width: 100px;
  position: absolute;
  z-index: 2;
  top: 390px;
  left: 50px;
}

.baloon {
  position: absolute;
  z-index: 3;
  left: 400px;

}

.speach {
  font-size: 25px;
  position: absolute;
  z-index: 4;
  left: 425px;
  top: 115px;
}

.bowser {
  width: 200px;
  position: absolute;
  z-index: 5;
  left: 700px;
  top: 220px;
}